<div class="container">
	<div class="row">
		<div class="col s12 center-align">
			<h5><%= @post.name %>: <%= @post.title %></h5>
			<div class="row center-align">
				<img class="materialboxed" src="<%= @post.photo.url(:medium) %>">
			</div>
			<div class="col s12 center-align">
				<p><%= @post.content %></p>
			</div> 
			<div class="col s12">
				<p>Tags: <%= join_tags(@post) %></p>
			</div> 
			<hr>
			<div class="col s6">
				<h5>Сэтгэгдэл үлдээх:</h5>
				<%= render "comments/form" %>
			</div>
			<div class="col s6">
				<h5>Санал сэтгэгдэлүүд:</h5>
				<p><%= render @post.comments %></p>
			</div>

		</div>
	</div>
</div>




<%= link_to 'Edit Post', edit_post_path(@post) %> |
<%= link_to 'Back to Posts', posts_path %> |